body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 6px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
}

.link-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    font-weight: normal;
}

button {
    background-color: #3882F6;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    width: 100px;
    color: white;
}

#blue-button {
    border: none;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.illustrations {
    display: flex;
    gap: 36px;
    padding-bottom: 24px;
}

.image {
    display: flex;
    width: 100px;
    gap: 12px;
    flex-direction: column;
}

#darker {
    color: darkgray;
}

.quote {
    display: flex;
    padding: 48px;
    gap: 16px;
    flex-direction: column;
    background-color: #fc9d03;
    padding-left: 24%;
    padding-right: 24%;
    justify-content: center;
}

.italics {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.attribution {
    padding-right: 40px;
    text-align: right;
    font-size: 20px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9FAF8;
    padding: 60px;
}

.blue {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 24px;
}

.right {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#white-outline {
    border-color: #F9FAF8;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 24px;
}